node_modules
*.js
*.d.ts
*.d.ts.map
*.js.map
dist/
cdk.out/
.jsii
tsconfig.tsbuildinfo
/tsconfig.json
.idea
/docs/
website/build
website/.docusaurus
website/static/api
custom-resource-handlers/node_modules
custom-resource-handlers/dist
lib/generated