/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #153ee8;
  --ifm-color-primary-dark: #1338d1;
  --ifm-color-primary-darker: #1235c5;
  --ifm-color-primary-darkest: #0f2ba2;
  --ifm-color-primary-light: #1744ff;
  --ifm-color-primary-lighter: #2d52ff;
  --ifm-color-primary-lightest: #5a73ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1f85ea;
  --ifm-color-primary-dark: #0d76e0;
  --ifm-color-primary-darker: #0c70d4;
  --ifm-color-primary-darkest: #0a5caf;
  --ifm-color-primary-light: #3194ed;
  --ifm-color-primary-lighter: #3d9aee;
  --ifm-color-primary-lightest: #65aef2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
